<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331386429874-97j0en3pn339mb6ud73ra3gt25ct98vb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331386429874-97j0en3pn339mb6ud73ra3gt25ct98vb</string>
	<key>API_KEY</key>
	<string>AIzaSyCdpq3x2i3g1OgJVZmyzsF-CbM_2MGhJpU</string>
	<key>GCM_SENDER_ID</key>
	<string>331386429874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.waterTracker</string>
	<key>PROJECT_ID</key>
	<string>watertracker708</string>
	<key>STORAGE_BUCKET</key>
	<string>watertracker708.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331386429874:ios:2814fb49ef7d4220b084ab</string>
</dict>
</plist>